@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@display=swap');

body {
    background-color: #201b2c;
    font-family: 'Noto Sans', sans-serif;
}
.bt {
    border: none;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;;
    font-weight: bold;
    font-size: 16px;
    padding: 7px 20px;
    text-decoration: none;
    background-color: #00ff88;
    color: #514869;
    margin: 5px;
    width: 104%;
    box-shadow: 0px 10px 40px -12px;
  }
  .bt:hover{
    background-color: #77ffc0;
  }
.container {
    font-size: 18px;
    background-color: #2f2841;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    box-shadow: 0px 10px 40px #00000056;
  }

h1 {
  color: #00ff88;
  font-size: 25px;

  text-align: center;
}
input {
  padding: 10px;
  border: none;
  width: 93%;
  margin: 10px;
  outline: none;
  color: aliceblue;
  align-items: center;
  border-radius: 10px;
  background-color: #514869;
}
