
h1 {
    color: white;
    text-align: center;
}
body {
    background-image: linear-gradient(to right, #9e0c36, #210008) ;
}
.cor {
    color: black
}
th, td {
    color: white
}
.divJogos {
    border: 1px solid white;
    width: 90%;
    margin-inline: auto;
    margin-block: 1rem;
}
h3, h4, h5, h6, p {
    text-align: center;
    color: white;
}

.table {
    width: 90%;
    margin-inline: auto;
    margin-block: 1rem;
}
.container {
    text-align: center;
}
.card-text{
    color: black;
}